<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd"
       >
	<!--default-autowire="byType"-->

	<bean id="yService" class="com.ambition.service.YService">
		<!--<property name="XXX" value="XXX" ref="XXX"/>-->
		<!--<constructor-arg name="XXX" value="XXX" index="1"/>-->
	</bean>

	<bean id="xService" class="com.ambition.service.XService"/>
</beans>